<div class="background vw-100">
    <div class="mt-5 pt-5 ms-3 h-50 w-100 pe-4">
        <h2 class="d-flex w-100 justify-content-center cabecera">Sólo estás a un paso. Completa tu pago y accede a los beneficios de un usuario premium.</h2>
<!--prueba checkout-->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                <div class="box">
                    <h3 class="box-title">Plan seleccionado</h3>
                    <div class="plan-selection">
                        <div class="plan-data">
                            <h2>Premium</h2>
                            <p class="plan-text">
                                Acceso a creación de salas ilimitadas</p>
                            <span class="plan-price">10,00</span>
                        </div>
                    </div>
                </div>
                <a (click)="completaPago()" class="btn btn-primary btn-lg mb30 text-light">Confirmar Pago con PayPal</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">

                <div class="widget">
                    <h4 class="widget-title">Resumen del pago</h4>
                    <div class="summary-block">
                        <div class="summary-content">
                            <div class="summary-head">
                                <h5 class="summary-title">Membresía premium</h5>
                            </div>
                            <div class="summary-price">
                                <p class="summary-text">10,00</p>
                                <span class="summary-small-text pull-right">Ilimitado</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--fin prueba checkout-->
    </div>
</div>
<!--
<button class="btn btn-dark btn-lg" (click)="completaPago()">Completar pago PayPal</button>
-->
<!--MODAL DE CONFIRMACION-->
<div class="col-md-6"> <button type="button" class="btn btn-lg btn-warning" data-toggle="modal" id="btn_modal_confirmacion" data-target="#ModalConfirmacion" [hidden]=true></button>
<div class="modal fade" id="ModalConfirmacion" role="dialog">
    <div class="modal-dialog">
        <div class="card">
            <div class="text-right cross"> <i class="fa fa-times"></i> </div>
            <div class="card-body text-center"> <img src="https://img.icons8.com/bubbles/200/000000/trophy.png">
                <h4>Enhorabuena</h4>
                <p>¡No esperes más y comienza ahora mismo a disfrutar del Premium!</p> <button class="btn btn-out btn-square continue" (click)="btnSalas()">IR A SALAS</button>
            </div>
        </div>
    </div>
</div>