<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="assets/loginFormPic.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="logInForm" (submit)="onSubmit(logInForm.value)">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">Inicia sesión</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Y accede a nuestro servicio</h5>

                  <div class="form-outline mb-4">
                    <input type="text" id="floatingUsername" class="form-control form-control-lg" formControlName="username" placeholder="Nombre de usuario" required />
                    <mat-error *ngIf="logInForm.get('username')?.touched && logInForm.get('username')?.hasError('required')">
                      Campo obligatorio.
                    </mat-error>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" id="floatingPassword" class="form-control form-control-lg" formControlName="password" placeholder="Contraseña" required/>
                      <mat-error *ngIf="logInForm.get('password')?.touched && logInForm.get('password')?.hasError('required')">
                      Campo obligatorio.
                    </mat-error>
                  </div>
                  <!--MODAL CREDENCIALES-->
                  <button id="openModalButton" type="button" [hidden]="true" data-toggle="modal"
                  data-target="#exampleModalCenter">Open Modal</button>
                  <div #exampleModalCenter class="modal fade text-dark" id="exampleModalCenter" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">¡Ups!</h5>
                        <button class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div>Credenciales no válidas.</div>
                        <p>¡Recuerda que este formulario distingue mayúsculas y minúsculas!</p>
                      </div>
                      <div class="modal-footer">
                        <button id="btn_cierre" class="btn btn-secondary" data-dismiss="modal">OK</button>
                      </div>
                    </div>
                  </div>
                  </div>
                  <!--FIN MODAL CREDENCIALES-->
                  <!--MENSAJE VALIDACION-->
                  <div *ngIf="infoMessage.length > 0">
                    <span>{{ infoMessage }}</span>
                  </div>
                  <!--FIN MENSAJE VALIDACION-->
                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit" (click)="onSubmit(logInForm.value)">Inicia sesión</button>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81;">¿No tienes ya una cuenta? <a
                      style="color: #393f81;" (click)="router.navigate(['/registro'])"><strong>Regístrate aquí</strong></a></p> 

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>