<div class="mt-5 pt-5">
    <div class="login-form-container d-flex justify-content-center align-items-center flex-column mt-5 pt-5">
        <div class="card">
            <h4 class="card-header">¡Bienvenido, nuevo usuario!</h4>
            <div class="card-body">
                <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label class="form-label">Nombre de usuario</label>
                        <input type="text" formControlName="username" class="form-control" required />
                        <mat-error *ngIf="registroForm.get('username')?.errors?.['serverError']">
                            {{registroForm.get('username')?.errors?.['serverError']}}</mat-error>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <div class="input-group">
                            <input [type]="fieldTextType ? 'text' : 'password'" formControlName="password"
                                class="form-control" (keyup)="checkValid(registroForm.get('password')?.value)"
                                (keyup)="checkPassword(registroForm.get('password')?.value)" required />
                            <div class="input-group-append">
                                <span class="input-group-text"
                                    [style]="fieldTextType ? 'color:white; background-color:black;' : 'color:black; background-color:white;' ">
                                    <fa-icon [icon]="faEyeSlash" (click)="toggleFieldTextType($event)"></fa-icon>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirma tu contraseña</label>
                        <input id="confirmacion" [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                            (keyup)="checkPasswordConfirmacion(registroForm.get('password')?.value, $event)" required />
                        <div *ngIf="checked!=null">
                            <p *ngIf="pass_valid && !checked"><fa-icon [icon]="faError"></fa-icon> La contraseña no
                                coincide</p>
                        </div>
                        <div *ngIf="pass_valid!=null">
                            <p *ngIf="!pass_valid"><fa-icon [icon]="faError"></fa-icon> La contraseña debe tener más de
                                8 caracteres</p>
                            <p *ngIf="pass_valid && checked"><fa-icon [icon]="faCheck"></fa-icon>Contraseña correcta</p>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" formControlName="first_name" class="form-control" required />
                        <mat-error *ngIf="registroForm.get('first_name')?.errors?.['serverError']">
                            {{registroForm.get('first_name')?.errors?.['serverError']}}</mat-error>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellidos</label>
                        <input type="text" formControlName="last_name" class="form-control" required />
                        <mat-error *ngIf="registroForm.get('last_name')?.errors?.['serverError']">
                            {{registroForm.get('last_name')?.errors?.['serverError']}}</mat-error>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" formControlName="email" name="email" class="form-control" />
                        <mat-error *ngIf="registroForm.get('email')?.errors?.['serverError']">
                            {{registroForm.get('email')?.errors?.['serverError']}}</mat-error>
                        <div *ngIf="registroForm.get('email')?.touched && registroForm.get('email')?.invalid">
                            <p><fa-icon [icon]="faError"></fa-icon> Formato no válido</p>
                        </div>
                    </div>
                    <div *ngIf="this.infoMessage!=null">
                        <p>{{infoMessage}}</p>
                    </div>
                    <div class="d-grid gap-1 col-8 mx-auto mb-2">
                        <button class="btn btn-dark btn-lg">Completar el registro</button>
                    </div>

                </form>
                <div class="card-footer">
                    <p>¿Tienes ya una cuenta? <u (click)="router.navigate(['/login']);">Inicia sesión aquí</u></p>
                </div>

            </div>
        </div>

    </div>
</div>