<p>{{nombre_sala}}</p>
<div cdkDropListGroup>
    <div class="example-container" *ngIf="checkPO">

        <h2>Backlog</h2>

        <div id="contenedor_backlog" cdkDropList #backlogList="cdkDropList" [cdkDropListData]="tareas_BACKLOG"
            [cdkDropListConnectedTo]="[todoList, wipList, doneList]" class="example-list backlog"
            (cdkDropListDropped)="drop($event)">
            <div *ngIf="tareas_BACKLOG.length!=0">
                <div class="example-box" *ngFor="let tarea of tareas_BACKLOG" cdkDrag>
                    <table>
                        <tr><u>{{tarea.nombre_tarea}}</u></tr>
                        <tr><i>{{tarea.desc_tarea}}</i></tr>
                        <tr><b>{{tarea.puntos}}p</b></tr>
                        <tr class="text-dark text-opacity-50" *ngIf="tarea.dev_asignado!=null"> Asignado a:
                            <!--<i>{{tarea.dev_asignado}}</i>-->
                            <i>{{tarea.datos_user_dev?.username}}</i>
                        </tr>
                        <tr class="text-primary text-opacity-75" *ngIf="!tarea.dev_asignado">Disponible</tr>
                    </table>
                    <span *ngIf="checkPO">
                        <fa-icon [icon]="faNotes" class="iconoPopHistory" id="openModalHistorial" type="button"
                            data-toggle="modal" data-target="#ModalHistorial"></fa-icon>
                        <fa-icon [icon]="faEdit" class="iconoPop" id="openModalButton" type="button" [hidden]="false"
                            data-toggle="modal" data-target="#exampleModalCenter"
                            (click)="setValuesFormEdit(tarea)"></fa-icon>
                        <fa-icon [icon]="faDelete" class="iconoPopDelete"
                            (click)="borrarTarea(tarea.id)"></fa-icon></span>

                    <!--MODAL EDICION-->
                    <div #exampleModalCenter class="modal fade text-dark" id="exampleModalCenter" tabindex="-1"
                        role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Edición de tarea</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!--aqui el formulario de editar tarea-->
                                    <form [formGroup]="editarTareaForm" (ngSubmit)="editTarea()">
                                        <div class="mb-3">
                                            <label class="form-label">Nombre de la tarea</label>
                                            <input type="text" formControlName="nombre_tarea" class="form-control"
                                                value="{{tarea.nombre_tarea}}" maxlength="100" minlength="1" />
                                            <div *ngIf="editarTareaForm.controls['nombre_tarea'].errors">
                                                Campo obligatorio.
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Descripción de la tarea</label>
                                            <input type="text" formControlName="desc_tarea" class="form-control"
                                                value="{{tarea.desc_tarea}}" maxlength="300" minlength="1" />
                                            <div *ngIf="editarTareaForm.controls['desc_tarea'].errors">
                                                Campo obligatorio.
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Tiempo estimado</label>
                                            <input type="number" formControlName="tiempo_estimado" class="form-control"
                                                value="{{tarea.tiempo_estimado}}" />
                                            <div *ngIf="editarTareaForm.controls['tiempo_estimado'].errors">
                                                Campo obligatorio.
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Puntos</label>
                                            <input type="number" formControlName="puntos" class="form-control"
                                                value="{{tarea.puntos}}" />
                                            <div *ngIf="editarTareaForm.controls['puntos'].errors">
                                                Campo obligatorio.
                                            </div>
                                        </div>
                                        <button class="btn btn-lg btn-dark" type="submit"
                                            [disabled]="!editarTareaForm.get('nombre_tarea').valid ||!editarTareaForm.get('desc_tarea').valid || !editarTareaForm.get('tiempo_estimado').valid || !editarTareaForm.get('puntos').valid">Modificar
                                            tarea</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button id="btn_cierre" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIN MODAL EDICION-->

                    <!--MODAL HISTORIAL-->
                    <div #ModalHistorial class="modal fade text-dark" id="ModalHistorial" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Histórico de la tarea</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table>
                                        <p *ngFor="let cambio of tarea.history">
                                            <tr>Estado anterior: {{cambio.estado_tarea}}</tr>
                                            <tr>Fecha del cambio: {{cambio.history_date | date: 'dd/MM/yyyy h:mm'}}</tr>
                                            <tr>ID desarrollador: {{cambio.dev_asignado_id}}</tr>
                                        </p>

                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button id="btn_cierre" class="btn btn-secondary"
                                        data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIN MODAL HISTORIAL-->


                </div>
            </div>
            <div *ngIf="tareas_BACKLOG.length==0">
                <div class="example-box text-dark text-opacity-50" cdkDrag><i>¡Vaya! ¡No tienes tarea pendiente!</i>
                </div>
            </div>

        </div>
    </div>





    <div class="example-container">

        <h2>To do</h2>

        <div id="contenedor_todo" cdkDropList #todoList="cdkDropList" [cdkDropListData]="tareas_TODO"
            [cdkDropListConnectedTo]="[wipList, doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div *ngIf="tareas_TODO.length!=0">
                <div class="example-box" *ngFor="let tarea of tareas_TODO" cdkDrag>
                    <table>
                        <tr><u>{{tarea.nombre_tarea}}</u></tr>
                        <tr><i>{{tarea.desc_tarea}}</i></tr>
                        <tr><b>{{tarea.puntos}}p</b></tr>
                        <tr class="text-dark text-opacity-50" *ngIf="tarea.dev_asignado!=null"> Asignado a:
                            <!--<i>{{tarea.dev_asignado}}</i>-->
                            <i>{{tarea.datos_user_dev?.username}}</i>
                        </tr>
                        <tr class="text-primary text-opacity-75" *ngIf="!tarea.dev_asignado">Disponible</tr>
                    </table>
                    <span *ngIf="!checkPO"><fa-icon [icon]="faNotes" class="iconoPopHistory" id="openModalHistorial"
                            type="button" data-toggle="modal" data-target="#ModalHistorial"></fa-icon></span>
                    <span *ngIf="checkPO">
                        <fa-icon [icon]="faNotes" class="iconoPopHistory" id="openModalHistorial" type="button"
                            data-toggle="modal" data-target="#ModalHistorial"></fa-icon>
                        <fa-icon [icon]="faEdit" class="iconoPop" id="openModalButton" type="button" [hidden]="false"
                            data-toggle="modal" data-target="#exampleModalCenter"
                            (click)="setValuesFormEdit(tarea)"></fa-icon><fa-icon [icon]="faDelete"
                            class="iconoPopDelete" (click)="borrarTarea(tarea.id)"></fa-icon></span>
                    <!--MODAL EDICION-->
                    <div #exampleModalCenter class="modal fade text-dark" id="exampleModalCenter" tabindex="-1"
                        role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Edición de tarea</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!--aqui el formulario de editar tarea-->
                                    <form [formGroup]="editarTareaForm" (ngSubmit)="editTarea()">
                                        <div class="mb-3">
                                            <label class="form-label">Nombre de la tarea</label>
                                            <input type="text" formControlName="nombre_tarea" class="form-control"
                                                value="{{tarea.nombre_tarea}}" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Descripción de la tarea</label>
                                            <input type="text" formControlName="desc_tarea" class="form-control"
                                                value="{{tarea.desc_tarea}}" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Tiempo estimado</label>
                                            <input type="number" formControlName="tiempo_estimado" class="form-control"
                                                value="{{tarea.tiempo_estimado}}" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Puntos</label>
                                            <input type="number" formControlName="puntos" class="form-control"
                                                value="{{tarea.puntos}}" />
                                        </div>
                                        <button class="btn btn-lg btn-dark" type="submit">Modificar tarea</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button id="btn_cierre" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIN MODAL EDICION-->
                    <!--MODAL HISTORIAL-->
                    <div #ModalHistorial class="modal fade text-dark" id="ModalHistorial" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Histórico de la tarea</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table>
                                        <p *ngFor="let cambio of tarea.history">
                                            <tr>Estado anterior: {{cambio.estado_tarea}}</tr>
                                            <tr>Fecha del cambio: {{cambio.history_date | date: 'dd/MM/yyyy h:mm'}}</tr>
                                            <tr>ID desarrollador: {{cambio.dev_asignado_id}}</tr>
                                        </p>

                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button id="btn_cierre" class="btn btn-secondary"
                                        data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIN MODAL HISTORIAL-->
                </div>
            </div>
            <div *ngIf="tareas_TODO.length==0">
                <div class="example-box text-dark text-opacity-50" cdkDrag><i>¡Vaya! ¡No tienes tarea pendiente!</i>
                </div>
            </div>

        </div>
    </div>

    <div class="example-container">
        <h2>WIP</h2>

        <div id="contenedor_wip" cdkDropList #wipList="cdkDropList" [cdkDropListData]="tareas_WIP"
            [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div *ngIf="tareas_WIP.length!=0">
                <div class="example-box" *ngFor="let tarea of tareas_WIP" cdkDrag>
                    <table>
                        <tr><u>{{tarea.nombre_tarea}}</u></tr>
                        <tr><i>{{tarea.desc_tarea}}</i></tr>
                        <tr><b>{{tarea.puntos}}p</b></tr>
                        <tr class="text-dark text-opacity-50" *ngIf="tarea.dev_asignado!=null"> Asignado a:
                            <!--<i>{{tarea.dev_asignado}}</i>-->
                            <i>{{tarea.datos_user_dev?.username}}</i>
                        </tr>
                        <tr class="text-primary text-opacity-75" *ngIf="!tarea.dev_asignado">Disponible</tr>
                    </table>
                    <span *ngIf="!checkPO"><fa-icon [icon]="faNotes" class="iconoPopHistory" id="openModalHistorial"
                            type="button" data-toggle="modal" data-target="#ModalHistorial"></fa-icon></span>
                    <span *ngIf="checkPO">
                        <fa-icon [icon]="faNotes" class="iconoPopHistory" id="openModalHistorial" type="button"
                            data-toggle="modal" data-target="#ModalHistorial"></fa-icon>
                        <fa-icon [icon]="faEdit" class="iconoPop" id="openModalButton" type="button" [hidden]="false"
                            data-toggle="modal" data-target="#exampleModalCenter"
                            (click)="setValuesFormEdit(tarea)"></fa-icon><fa-icon [icon]="faDelete"
                            class="iconoPopDelete" (click)="borrarTarea(tarea.id)"></fa-icon></span>
                    <!--MODAL EDICION-->
                    <div #exampleModalCenter class="modal fade text-dark" id="exampleModalCenter" tabindex="-1"
                        role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Edición de tarea</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!--aqui el formulario de editar tarea-->
                                    <form [formGroup]="editarTareaForm" (ngSubmit)="editTarea()">
                                        <div class="mb-3">
                                            <label class="form-label">Nombre de la tarea</label>
                                            <input type="text" formControlName="nombre_tarea" class="form-control"
                                                value="{{tarea.nombre_tarea}}" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Descripción de la tarea</label>
                                            <input type="text" formControlName="desc_tarea" class="form-control"
                                                value="{{tarea.desc_tarea}}" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Tiempo estimado</label>
                                            <input type="number" formControlName="tiempo_estimado" class="form-control"
                                                value="{{tarea.tiempo_estimado}}" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Puntos</label>
                                            <input type="number" formControlName="puntos" class="form-control"
                                                value="{{tarea.puntos}}" />
                                        </div>
                                        <button class="btn btn-lg btn-dark" type="submit">Modificar tarea</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button id="btn_cierre" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIN MODAL EDICION-->
                    <!--MODAL HISTORIAL-->
                    <div #ModalHistorial class="modal fade text-dark" id="ModalHistorial" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Histórico de la tarea</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table>
                                        <p *ngFor="let cambio of tarea.history">
                                            <tr>Estado anterior: {{cambio.estado_tarea}}</tr>
                                            <tr>Fecha del cambio: {{cambio.history_date | date: 'dd/MM/yyyy h:mm'}}</tr>
                                            <tr>ID desarrollador: {{cambio.dev_asignado_id}}</tr>
                                        </p>

                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button id="btn_cierre" class="btn btn-secondary"
                                        data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIN MODAL HISTORIAL-->
                </div>
            </div>
            <div *ngIf="tareas_WIP.length==0">
                <div class="example-box text-dark text-opacity-50" cdkDrag><i>Arrastra aquí la tarea que quieras
                        adjudicarte.</i></div>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>Done</h2>
        <div id="contenedor_done" cdkDropList #doneList="cdkDropList" [cdkDropListData]="tareas_DONE"
            [cdkDropListConnectedTo]="[]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div *ngIf="tareas_DONE.length!=0">
                <div class="example-box" *ngFor="let tarea of tareas_DONE" cdkDrag>
                    <table>
                        <tr><u>{{tarea.nombre_tarea}}</u></tr>
                        <tr><i>{{tarea.desc_tarea}}</i></tr>
                        <tr><b>{{tarea.puntos}}p</b></tr>
                        <tr class="text-dark text-opacity-50" *ngIf="tarea.dev_asignado!=null"> Asignado a:
                            <!--<i>{{tarea.dev_asignado}}</i>-->
                            <i>{{tarea.datos_user_dev?.username}}</i>
                        </tr>
                        <!--<tr class="text-primary text-opacity-75" *ngIf="!tarea.dev_asignado">Disponible</tr>-->
                    </table>
                    <span *ngIf="!checkPO"><fa-icon [icon]="faNotes" class="iconoPopHistory" id="openModalHistorial"
                            type="button" data-toggle="modal" data-target="#ModalHistorial"></fa-icon></span>
                    <span *ngIf="checkPO">
                        <fa-icon [icon]="faNotes" class="iconoPopHistory" id="openModalHistorial" type="button"
                            data-toggle="modal" data-target="#ModalHistorial"></fa-icon>
                        <fa-icon [icon]="faEdit" class="iconoPop" id="openModalButton" type="button" [hidden]="false"
                            data-toggle="modal" data-target="#exampleModalCenter"
                            (click)="setValuesFormEdit(tarea)"></fa-icon><fa-icon [icon]="faDelete"
                            class="iconoPopDelete" (click)="borrarTarea(tarea.id)"></fa-icon></span>
                    <!--MODAL EDICION-->
                    <div #exampleModalCenter class="modal fade text-dark" id="exampleModalCenter" tabindex="-1"
                        role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Edición de tarea</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!--aqui el formulario de editar tarea-->
                                    <form [formGroup]="editarTareaForm" (ngSubmit)="editTarea()">
                                        <div class="mb-3">
                                            <label class="form-label">Nombre de la tarea</label>
                                            <input type="text" formControlName="nombre_tarea" class="form-control"
                                                value={{tarea.nombre_tarea}} />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Descripción de la tarea</label>
                                            <input type="text" formControlName="desc_tarea" class="form-control"
                                                value={{tarea.desc_tarea}} />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Tiempo estimado</label>
                                            <input type="number" formControlName="tiempo_estimado" class="form-control"
                                                value={{tarea.tiempo_estimado}} />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Puntos</label>
                                            <input type="number" formControlName="puntos" class="form-control"
                                                value={{tarea.puntos}} />
                                        </div>
                                        <button class="btn btn-lg btn-dark" type="submit">Modificar tarea</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button id="btn_cierre" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIN MODAL EDICION-->
                    <!--MODAL HISTORIAL-->
                    <div #ModalHistorial class="modal fade text-dark" id="ModalHistorial" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Histórico de la tarea</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table>
                                        <p *ngFor="let cambio of tarea.history">
                                            <tr>Estado anterior: {{cambio.estado_tarea}}</tr>
                                            <tr>Fecha del cambio: {{cambio.history_date | date: 'dd/MM/yyyy h:mm'}}</tr>
                                            <tr>ID desarrollador: {{cambio.dev_asignado_id}}</tr>
                                        </p>

                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button id="btn_cierre" class="btn btn-secondary"
                                        data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIN MODAL HISTORIAL-->
                </div>
            </div>
            <div *ngIf="tareas_DONE.length==0">
                <div class="example-box text-dark text-opacity-50" cdkDrag><i>¿Primera tarea finalizada? Colócala
                        aquí</i>
                </div>
            </div>
        </div>
    </div>

</div>
<div>
    <!--<button *ngIf="checkPO" (click)="router.navigate(['crear-tarea/:'+ nombre_sala]);">
        <span>Crear una nueva tarea</span>
    </button>-->

    <button *ngIf="checkPO" id="openModalButtonCrear" type="button" [hidden]="false" data-toggle="modal"
        data-target="#exampleModalCenterCrear">Crear una nueva tarea</button>
    <div #exampleModalCenter class="modal fade text-dark" id="exampleModalCenterCrear" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edición de tarea</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="crearTareaForm" (submit)="creaTarea()">
                        <div class="mb-3">
                            <label class="form-label">Nombre de la tarea</label>
                            <input type="text" formControlName="nombre_tarea" class="form-control" maxlength="100"
                                minlength="1" />
                            <div
                                *ngIf="crearTareaForm.controls['nombre_tarea'].touched && crearTareaForm.controls['nombre_tarea'].errors">
                                Campo obligatorio.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Descripción de la tarea</label>
                            <input type="text" formControlName="desc_tarea" class="form-control" maxlength="300"
                                minlength="1" />
                            <div
                                *ngIf="crearTareaForm.controls['desc_tarea'].touched && crearTareaForm.controls['desc_tarea'].errors">
                                Campo obligatorio.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Tiempo estimado</label>
                            <input type="number" formControlName="tiempo_estimado" class="form-control" />
                            <div
                                *ngIf="crearTareaForm.controls['tiempo_estimado'].touched && crearTareaForm.controls['tiempo_estimado'].errors">
                                Campo obligatorio.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Puntos</label>
                            <input type="number" formControlName="puntos" class="form-control" />
                            <div
                                *ngIf="crearTareaForm.controls['puntos'].touched && crearTareaForm.controls['puntos'].errors">
                                Campo obligatorio.
                            </div>
                        </div>
                        <button class="btn btn-lg btn-dark"
                            [disabled]="!crearTareaForm.get('nombre_tarea').valid || !crearTareaForm.get('desc_tarea').valid || !crearTareaForm.get('tiempo_estimado').valid || !crearTareaForm.get('puntos').valid"
                            type="submit">Crear tarea</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn_cierre_crear" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


    <button *ngIf="checkPO" (click)="eliminaSala(nombre_sala)">
        <span>Eliminar esta sala</span>
    </button>

    <button *ngIf="!checkPO" (click)="abandonaSala(nombre_sala)">
        <span>Abandonar esta sala</span>
    </button>
</div>