<div class="home vw-100 mt-0">
    <nav class="nav vw-90 mw-90 w-90">
        <div class="container mw-90 vw-90 w-90">
            <div class="logo">
                <a class="negro" (click)="goToProfile()">LOGO</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li *ngIf="loginService.isLoggedIn"><a class="negro" href="http://localhost:4200/login" (click)="logOut()">Log
                            out</a></li>
                    <li *ngIf="loginService.isLoggedIn"><a class="negro" (click)="goToSalas();">Salas</a></li>
                    <li *ngIf="!loginService.isLoggedIn"><a class="negro" href="http://localhost:4200/login">Log in</a></li>
                    <li *ngIf="!loginService.isLoggedIn"><a class="negro" href="http://localhost:4200/registro">Registro</a></li>
                    <li><a class="negro" href="#">Subscripción*</a></li>
                    <li><a class="negro" href="#">Otros*</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>

    <div class="router d-flex mt-5 pt-5 h-100 w-100 mw-100 mh-100">
        <router-outlet></router-outlet>
    </div>
</div>