<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#">LOGO</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="http://localhost:4200/login">Log in</a></li>
                <li><a href="http://localhost:4200/login" (click)="logOut()">Log out</a></li>
                <li><a href="http://localhost:4200/registro">Registro</a></li>
                <li><a href="#">Subscripción*</a></li>
                <li><a href="#">Otros*</a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>
<section class="home">
    <div class="wrapper">
        <router-outlet></router-outlet>
    </div>
</section>
<div style="height: 1000px">
    <!-- just to make scrolling effect possible -->
</div>