<div class="background vw-100">
    <div class="mt-5 pt-5 ms-3 h-50 w-100 pe-4">
        <!--PRUEBA2-->
        <h2 class="d-flex w-100 justify-content-center cabecera">Subscríbete para ser un miembro premium y acceder a salas ilimitadas.</h2>
        <div class="row w-100 d-flex justify-content-center">

            <div class="col-md-4 col-sm-6">
                <div class="pricing-table-3 basic">
                    <div class="pricing-table-header">
                        <h4><strong>Premium</strong></h4>
                        <p>Acceso ilimitado</p>
                    </div>
                    <div class="price"><strong>10,00</strong></div>
                    <div class="pricing-body">
                        <ul class="pricing-table-ul">
                            <li>Creación ilimitada de Salas</li>
                            <li>Precio económico</li>
                            <li>Pago único</li>
                        </ul>
                        <br>
                        <p (click)="PayPal()" class="view-more effect">Subscríbeme<mat-progress-spinner *ngIf="proceso" class="custom-spinner" mode="indeterminate" diameter="20" style="margin:0 auto;"></mat-progress-spinner></p>

                    </div>
                </div>
            </div>
        </div>
        <!---FINPRUEBA2-->
    </div>
</div>

<!--
<button class="btn btn-lg btn-primary" (click)="PayPal()">Pagar suscripción</button>
-->