<header class="header">
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main animate__animated animate__slideInLeft animate__slow">Metodologías
                Agile</span>
            <span class="heading-primary-sub animate__animated animate__fadeIn animate__delay-1s">A tu alcance</span>
        </h1>
        <a href="/registro" class="btn btn-white btn-animated animate__animated animate__fadeIn animate__delay-2s"
            id="start_button">Comienza hoy</a>
    </div>
</header>