<div class="background vw-100">
    <div class="wrapper_landing start mt-5 pt-5 ms-3 h-50 w-100 pe-4">
        <div class="animate__animated animate__slideInLeft d-flex align-items-end flex-column vw-100 m-5 p-5 animate__slow">
            <p class="pe-5">Metodologías Agile...Al alcance de todos.</p>
        </div>
    </div>
    <div class="w-100 h-50 font d-flex flex-column p-5">
        <div class="animate__animated animate__fadeIn animate__delay-1s">
            <p>Accede de manera rápida y eficiente a los resultados</p>
            <p>Consigue flexibilidad y versatilidad</p>
            <p>Olvídate de los trámites de gestión</p>
            <div class="flex-grow-1">
                <button class="btn btn-info btn-lg" (click)="router.navigate(['/registro']);">
                    <span>Regístrate. ¡Es gratis!</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div>
    <p>FOOTER</p>
</div>