@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}


.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    font-size: 2.5rem;
}

.logo:hover {
    color: #4a70f8;
}


.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;

}

.nav div.main_list ul li a {
    text-decoration: none;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #4a70f8;
}

.negro {
    text-decoration: none;
    color: #343a40;
}

.blanco {
    text-decoration: none;
    color: white;
}






.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .nav div.show_list {
        height: auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #343a40;
        background-position: center top;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }

    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }

    .nav div.media_button {
        display: block;
    }
}



.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}


/*ANIMACIONES HOVER NAV*/

li {
    display: table-cell;
    position: relative;
    padding: 10px 0;
}

a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #343a40;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.affix a:after {
    background: white;
}



a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}


/**/

/*ANIMACIONES HAMBURGUESA*/
@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

/**/


/*ANIMACIONES SCROLL NAV*/
.affix {
    padding: 0;
    background-color: #212529;
    z-index: +1;
    color: white;
}

.affix a {
    text-decoration: none;
    color: white;
}

/*FIN ANIMACIONES NAVBAR*/




.myH2 {
    text-align: center;
    font-size: 4rem;
}

.myP {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
}

@media all and (max-width:700px) {
    .myP {
        padding: 2%;
    }
}


/*DRAG AND DROP*/
.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*FIN DRAG AND DROP*/


/*CSS GENERICOS (PLANTILLAS)*/
.home {
    margin-top: 5%;
    border: solid white 3px;
    /*background-image: url(https://images.saymedia-content.com/.image/t_share/MTkyOTkyMzE2OTQ3MDQ3NjQ1/website-background-templates.png);*/
    background-image: url(src/images/298130722328.jpg);
    background-position: center top;
    background-size: cover;
    border: solid white 3px;
    height: 1250px;
}


.start div {
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
}

.font {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
}


.background {
    /*background-image: url(https://images.saymedia-content.com/.image/t_share/MTkyOTkyMzE2OTQ3MDQ3NjQ1/website-background-templates.png);*/
    background-image: url(src/images/wave_azul.svg);
    background-position: center;
    background-size: cover;
    /*opacity: 0.65;*/
    color: black;
    height: 55%;
}

.login-form-container {
    color: black;
}

/*formularios prueba*/


.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;

}

.get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: white;
}


.get-in-touch input {
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: white;
    color: white;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;

    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: white;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

/*tabs*/
/*
.project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
*/
/*ICONOS DE ADMIN*/
.iconoPop:hover {
    color: #4a70f8;
}

.iconoPopDelete:hover {
    color: red;
}

.iconoPopHistory:hover {
    color: lightgreen;
}

/*SUBIDA DE IMAGEN PERFIL*/
.avatar-container {
    position: relative;
    width: fit-content;
}

.image-container {
    height: 200px;
    width: 200px;
    z-index: 1;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 20px 20px #6c93001a;
}

.icon-wrapper label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper input[type="file"] {
    display: none;
}

.icon-wrapper {
    position: absolute;
    height: 40px;
    width: 40px;
    padding: .35rem;
    background-color: #2962FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 75%;
    z-index: 2;
    cursor: pointer;
}

.icon-wrapper:hover {
    transition: all .25s;
    background-color: darken(#2962FF, 15%);
}


.icon-wrapper input[type='file'] {
    display: none;
}

.icon-wrapper .icon {
    color: white;
}


.icon-wrapper label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-shadow-avatar {
    box-shadow: 0 10px 20px 20px #6c93001a;
}

.image-container {
    height: 200px;
    width: 200px;
    z-index: 1;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 20px 20px #6c93001a;
}

.image-container .avatar-placeholder {
    background-image: url('https://www.computerhope.com/jargon/g/guest-user.png');
}

/*TAREAS*/
.header_tarea {
    font-style: bold;
}

/*CABECERA PAGO*/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap);

.cabecera {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
}

/*PRUEBAS CARDS PAGO PAYPAL*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,500,400,300,800);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400);


h3 {
    font-size: 22px;
}

.container-fluid,
.container {
    margin: auto;
    padding: 0px 15px;
    max-width: 1200px;
}


.pricing-table-container {
    padding: 50px 0px;
    z-index: 0;
}

.description {
    padding: 15px 0px;
}

.description a {
    padding: 10px;
    font-size: 13px;
    display: block;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
}

.description a.active {
    background-color: #FFF;
    padding-left: 25px;
}

.pricing-table-3 {
    background-color: #FFF;
    margin: 15px auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    border-radius: 0px 10px 0px 10px;
    overflow: hidden;
    position: relative;
    min-height: 250px;
    transition: all ease-in-out 0.25s;
    z-index: 0;
}

.pricing-table-3:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.pricing-table-3.basic .price {
    background-color: #28b6f6;
    color: #FFF;
}

.pricing-table-3 .pricing-table-header {
    background-color: #212121;
    color: #FFF;
    padding: 20px 0px 0px 20px;
    position: absolute;
    z-index: 5;
}

.pricing-table-3 .pricing-table-header p {
    font-size: 12px;
    opacity: 0.7;
}

.pricing-table-3 .pricing-table-header::before {
    content: "";
    position: absolute;
    left: -50px;
    right: -180px;
    height: 125px;
    top: -50px;
    background-color: #212121;
    z-index: -1;
    transform: rotate(-20deg)
}

.pricing-table-3 .price {
    position: absolute;
    top: 0px;
    text-align: right;
    padding: 110px 20px 0px 0px;
    right: 0px;
    left: 0px;
    font-size: 20px;
    z-index: 4;
}

.pricing-table-3 .price::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100px;
    bottom: -25px;
    background-color: inherit;
    transform: skewY(10deg);
    z-index: -1;
    box-shadow: 0px 5px 0px 5px rgba(0, 0, 0, 0.05);
}


.pricing-table-3 .pricing-body {
    padding: 20px;
    padding-top: 200px;
}

.pricing-table-3 .pricing-table-ul li {
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.pricing-table-3 .pricing-table-ul .fa {
    margin-right: 10px;
}

.pricing-table-3.basic .pricing-table-ul .fa {
    color: #28b6f6;
    z-index: 0;
}

.pricing-table-3 .view-more {
    margin: 10px 20px;
    display: block;
    text-align: center;
    background-color: #212121;
    padding: 10px 0px;
    color: #FFF;
}


/*PRUEBAS CHECKOUT*/
.box { background-color: #fff; border-radius: 8px; border: 2px solid #e9ebef; padding: 50px; margin-bottom: 40px; }
.box-title { margin-bottom: 30px; text-transform: uppercase; font-size: 16px; font-weight: 700; color: #094bde; letter-spacing: 2px; }
.plan-selection { border-bottom: 2px solid #e9ebef; padding-bottom: 25px; margin-bottom: 35px; }
.plan-selection:last-child { border-bottom: 0px; margin-bottom: 0px; padding-bottom: 0px; }
.plan-data { position: relative; }
.plan-data label { font-size: 20px; margin-bottom: 15px; font-weight: 400; }
.plan-text { padding-left: 35px; }
.plan-price { position: absolute; right: 0px; color: #094bde; font-size: 20px; font-weight: 700; letter-spacing: -1px; line-height: 1.5; bottom: 43px; }
.term-price { bottom: 18px; }
.secure-price { bottom: 68px; }
.summary-block { border-bottom: 2px solid #d7d9de; }
.summary-block:last-child { border-bottom: 0px; }
.summary-content { padding: 28px 0px; }
.summary-price { color: #094bde; font-size: 20px; font-weight: 400; letter-spacing: -1px; margin-bottom: 0px; display: inline-block; float: right; }
.summary-small-text { font-weight: 700; font-size: 12px; color: #8f929a; }
.summary-text { margin-bottom: -10px; }
.summary-title { font-weight: 700; font-size: 14px; color: #1c1e22; }
.summary-head { display: inline-block; width: 120px; }

.widget { margin-bottom: 30px; background-color: #e9ebef; padding: 50px; border-radius: 6px; }
.widget:last-child { border-bottom: 0px; }
.widget-title { color: #094bde; font-size: 16px; font-weight: 700; text-transform: uppercase; margin-bottom: 25px; letter-spacing: 1px; display: table; line-height: 1; }
