<div>
    <h1 class="profile-heading">Bienvenid@, {{userProfile?.first_name}} {{userProfile?.first_name}} </h1>

    <p>Nombre de usuario: {{ userProfile?.username }}</p>

    <img src={{userProfile?.profile_pic}} alt="Profile photo" style="height:425px;max-width:300px;">
    <h2>SALAS DISPONIBLES:</h2>
    <table>
        <tr *ngFor="let sala of salas">
            <td><button (click)="router.navigate(['sala-main/:'+sala.nombre_sala]);">{{sala.nombre_sala}}</button></td>
        </tr>
    </table>
    <br>
    <div>
        <button class="btn btn-info" (click)="router.navigate(['/crear_sala']);">
            <span>Crear una nueva sala</span>
         </button>
         <button class="btn btn-info" (click)="joinSala()">
            <span>Unirme a una nueva sala</span>
         </button>
    </div>
</div>
<br>
<div>
    <button (click)="logOut()" class="btn btn-danger">Logout</button>
</div>